*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #F2F2F2;
}

.content-center{
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
}

.to-do{
    list-style: none;
    padding: 0;
}
.to-do li{
    padding: 10px;
    border-bottom: #CCC 1px solid;
}
.to-do li input{
    width: initial;
    margin: 10px;
}
.to-do li.complete{
    text-decoration: line-through;
    color: #999;
}
.to-do button{
    width: 30px;
    height: 30px;
    color: #FFF; 
    background-color: rgba(212, 41, 41, 0.705);
    float: right;
    border: none;
    border-radius: 50%;
}

.to-do button:hover{
    background-color: rgba(250, 43, 43, 0.836);
    cursor: pointer;
}

#new-task{
    width: 100%;
    padding: 10px;
}