*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #F2F2F2;
}

.content-center{
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
}

.to-do{
    list-style: none;
    padding: 0;
}
.to-do li{
    padding: 10px;
    border-bottom: #CCC 1px solid;
}
.to-do li input{
    width: initial;
    margin: 10px;
}
.to-do li.complete{
    text-decoration: line-through;
    color: #999;
}