body{
    background-color: #F2F2F2;;
}

.content-tabuada{
    width: 100%;
    text-align: center;
    align-items: center;
    max-width: 500px;
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.content-tabuada table{
    width: 100%;
    border-collapse: collapse;
}

.content-tabuada td{
    padding: .75rem;
    border-bottom: 1px solid #DEE2E6;
}

.content-tabuada tbody tr:nth-child(odd){
    background-color: rgba(0, 0, 0, .04);
}

.content-tabuada tbody tr:hover{
    background-color: rgba(0, 0, 0, .15);
}

#valueA{
    width: 90%;
    padding: 10px;
}